.html{
  background-color: hsl(216, 12%, 8%);
}
p{
  font-family: "overpass", sans-serif;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
  padding-left: 20px; ;
}
h1{
  font-family: "overpass", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 100%);

  position: relative;
  padding-left: 20px;
}
.container{
  color: hsl(0, 0%, 100%);
  background-color:hsl(210, 22%, 8%);
  min-width: 370px;
  max-width: 400px;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 30px;
 
}
#star{
  position: absolute;
  padding: 27%;
  
  
}
.star-background{
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 40px;
  border-radius: 50%;
  position: relative;
  height: 40px;
  width: 40px;
  background-color: hsl(213, 19%, 18%);
}

.round-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: hsl(213, 19%, 18%);
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color:hsl(217, 12%, 63%);
  cursor: pointer;
  display: inline-flex;
  font-family: "overpass", sans-serif;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  padding-left: 20px;
  margin-left: 15px;
}

.round-btn:hover,
.round-btn:focus {
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: hsl(216, 12%, 8%);
}

.round-btn:hover {
  transform: translateY(-1px);
  background-color: #fb8332;
}

.round-btn:active {
  background-color: orange hsl(25, 97%, 53%);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
  color: hsl(216, 12%, 8%);
}

#submit-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: hsl(25, 97%, 53%) ;
  border: 1px solid transparent;
  border-radius:  25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: hsl(216, 12%, 8%);
  cursor: pointer;
  font-family: "overpass", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  line-height: 1.25;
  position: relative;
  left: 20px;
  transition: all 250ms;
  touch-action: manipulation;
  min-width: 340px;
}

#submit-btn:hover,
#submit-btn:focus {
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#submit-btn:hover {
  transform: translateY(-1px);
  color: hsl(216, 12%, 8%);
  background-color: white;
}

#submit-btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
  color: hsl(216, 12%, 8%);
}